<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li class="active">
					<a href="" class="brand" title="">Reddit Reader</a>
				</li>
				<li>
					{{#linkTo "subreddit" }}Text{{/linkTo}}
				</li>
			</ul>
		</div>
	</div>
</div>